[submodule "Libraries/TouchDB-iOS"]
	path = Libraries/TouchDB-iOS
	url = https://github.com/couchbaselabs/TouchDB-iOS.git
[submodule "Libraries/CouchCocoa"]
	path = Libraries/CouchCocoa
	url = https://github.com/couchbaselabs/CouchCocoa.git
[submodule "Libraries/CouchbaseLite-iOS"]
	path = Libraries/CouchbaseLite-iOS
	url = https://github.com/couchbase/couchbase-lite-ios.git
